body

 body * { 
    margin: 0%;
    padding: 0%;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', , 'Trebuchet MS', sans-serif;

} 
.container {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.hero-row {
    display: inline-block;
    width: 600px;
    margin-left: calc(50% - 300px);
    background-color: blue;

}
.row { 
    display: inline-block;
    width: 1000px;
    margin-left: calc(50% - 500px);
    background-color: yellow;
 } 
    .left-row {
        display: inline-block;
        width: 50%;
        float: left;
        background-color: red;
    }
    .right-row {
        display: inline-block;
        width: 40%;
        float: right;
        background-color: red;
    }
    .social {
        display: inline-block;
        width: 600px;
        margin-left: calc(50% - 300px);
        border-bottom: 2px solid #fff;
    }
    .text-class {
        display: inline-block;
        width: 600px;
        margin-left: calc(50% - 300px);
        background-color: red;
    }

.background-picture {
background-color: #02A9F4;
}